
/*
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=1);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
*/
.data-tl p{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}
.data-in-it-tl p {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.data_in_job_bu_men p {
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.data_in_job_tl p{
    font-size: 30px;
    text-align: right;
}
.data_in_job_tl_info {
    font-size: 30px;
    text-align: left;
}
.data_in_job_it p{
    font-size: 30px;
    text-align: right;
}
.data_in_job_it_info p{
    font-size: 30px;
    text-align: left;
}
.data_in_job_it_info a{
    font-size: 30px;
    text-align: left;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}
