
{% extends "home/base.html" %}
{% load staticfiles %}

{% block customcss %}
<link type="text/css" rel="stylesheet" href="{% static 'login.css' %}"/>
{% endblock %}

{% block content %}

<!--=== Content Part ===-->    
<div class="container">
    <div class="row">
        <div class="col-md-12 register-tl">
            <p>用户注册</p>
        </div>
        <div class="col-md-12">
            <form action="/login/register_handler" class="form-horizontal" method="POST">
            {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="username">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">邮箱</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- end row -->
</div><!-- end container -->

<!--=== Content Part ===-->    
{% endblock %}


{% block customjs %}
<script type="text/javascript">
// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

    $('form').submit(function(e) {    
        var formData = new FormData($(this)[0]); 
        var action_str = $(this).attr('action');
        //alert('submit form:'+action_str);

        $.ajax({
            url: action_str,
            data: formData,
            cache: false,
            async: false,
            type: "POST",
            contentType: false,
            processData: false,
            //Ajax events
            success: function(data) {
                if(data == 'success') {
                    alert('注册成功，跳转至登陆页面');
                    window.location = "/login/login";
                } else {
                    alert(data);
                }
            }
        });
        e.preventDefault();
    });
</script>
{% endblock %}
